body {
    margin: 0%;
    background: url("/Images/Game_Images/room.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}