@import url("Homepage/Homepage_fonts/Barlow.ttf");

body{
  background: linear-gradient(45deg, #085078 10%, #85d8ce 90%) no-repeat center center fixed;
}

.logo {
  width: 10%;
  height: 10%;
    background-image: url("../Images/h_logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}