@import url("Homepage/Homepage_fonts/Barlow.ttf");

html{
    height: 100%;
}

body{
    background-color: #D8D5DB;
    margin: 0%;
    padding: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
}

.Typer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.site{
    display: flex;
    position: relative;
    font-size: 25px;
    display: flex;
    margin-bottom: 15px;
}

.password{
    display: flex;
    position: relative;
    font-size: 25px;
}

.submit_button{
    display: flex;
    position: relative;
    width: 50%;
    justify-content: center;
}

#ok{
    position: relative;
    display: flex;
}

#error{
    position: relative;
    display: flex;
    color: red;
}
