@import url("Homepage/Homepage_fonts/Barlow.ttf");

@import url("Homepage/Homepage_fonts/Barlow.ttf");

html{
    height: 100%;
}

body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
    background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    font-family: 'Barlow', sans-serif;  
}

.Typer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    top: 10%;

}

.site{
    display: flex;
    position: relative;
    font-size: 25px;
    display: flex;
    margin-bottom: 15px;
}

.password{
    display: flex;
    position: relative;
    font-size: 25px;
}

.submit_button{
    display: flex;
    position: relative;
    width: 50%;
    justify-content: center;
}

#ok{
    position: relative;
    display: flex;
}

#error{
    position: relative;
    display: flex;
    color: red;
}

.logo {
    width: 350px;
    height: 350px;
    top: 100%;
    margin-bottom: 30px;
}