body{
    margin:0;
    padding:0;
}

#body{
    margin-top: 4rem;
}

/*footer{
    position: relative;
    height: 50px;
    background-color: #2D3142;
    margin: 5rem;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;}*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2D3142;
  color: white;
  text-align: center;
}
