.google{
    display: flex;
    position: relative;
    left: 200px;
    top: 400px;
    font-size: 25px;
}

.password{
    display: flex;
    position: relative;
    left: 200px;
    top: 500px;
    font-size: 25px;
}

.submit_button{
    position: relative;
    top: 540px;
    left: 200px;
}

#ok{
    position: relative;
    top: 580px;
    left: 200px;
    margin: 0%;
    padding: 0%;
}

#error{
    position: relative;
    top: 580px;
    left: 200px;    
    margin: 0%;
    padding: 0%;
}